.mainSlider {
  background-color: #fff;
}

.sliderArrows{
  width: 51px;
  height: 51px;
  background: #000000!important;
  overflow: hidden;
  border-radius: 100%;
  color: #fff;
}

.sliderArrows:disabled{
  display: none!important;
}

.sliderArrows:hover{
  background: #222222!important;
}

.sliderLeftArrow{
  left: 2%;
  display: none;
}

.sliderRightArrow{
  right: 2%;
}

.paginationDotsContainer{
  bottom: 20px;
}

.paginationDot {
  width: 10px;
  height: 10px;
  background: #FFF;
}

.paginationDot--isActive {
  width: 44px!important;
  background: #FFB32A;
  border-radius: 10px;
}
